.card-container {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-width: 3px;
  border-color: rgb(46, 238, 209);
  border-style: solid;
  font-weight: bold;
  background-color: rgb(192, 37, 17);
}
