.card-container {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  background-color: rgb(21, 224, 207);
}
